body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    padding: 1rem;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
}
main{
    margin-top: 200px;
}
main h1{
    padding: 2px;
    border-bottom: solid 2px goldenrod;
}
footer{
    position: fixed;
    padding: 2rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
}